Repository unachang113/sewinglog: changes, and which lint-staged commands are due for each by the changed paths.
All: xo --fix, prettier --write

feat: vitestの設定追加
  .eslintignore
  .xo-config.cjs
  __tests__/setup-test.ts
  app/routes/posts/components/__snapshots__/text-link.test.tsx.snap
  app/routes/posts/components/text-link.test.tsx
  app/routes/posts/components/text-link.tsx
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: xo --fix, prettier --write

github actionsの追加
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: xo --fix, prettier --write

feature: add tailwind css
  app/root.tsx
  app/tailwind.css
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  tailwind.config.ts
Due: xo --fix, prettier --write

feat: cardUIのunit test作成
  __tests__/setup-test.ts
  app/routes/posts/components/card/__snapshots__/card.test.tsx.snap
  app/routes/posts/components/card/card.test.tsx
  app/routes/posts/components/card/index.tsx
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: xo --fix, prettier --write

feat: 不要なcomponent削除
  app/routes/posts/components/text-link.test.tsx
  app/routes/posts/components/text-link.tsx
Due: xo --fix

feat: CardListコンポーネントの作成
  app/routes/posts/components/card-list/index.tsx
  app/routes/posts/components/card/index.tsx
  tailwind.config.ts
Due: xo --fix

feat: テスト作成
  app/routes/posts/components/card-list/__snapshots__/card-list.test.tsx.snap
  app/routes/posts/components/card-list/card-list.test.tsx
  app/routes/posts/components/card/card.test.tsx
Due: xo --fix

feat: ヘッダーの作成
  app/routes/_index.tsx
  app/routes/components/header/index.tsx
  app/tailwind.css
  tailwind.config.ts
Due: xo --fix

feat: テスト作成
  app/routes/components/header/__snapshots__/header.test.tsx.snap
  app/routes/components/header/header.test.tsx
Due: xo --fix

feat: microcms-ts-sdkの導入
  .node-version
  package.json
  pnpm-lock.yaml
Due: prettier --write

feature: topページのAPI疎通
  .vscode/settings.json
  .xo-config.cjs
  app/lib/client.server.ts
  app/routes/_index.tsx
  app/routes/components/card-list/__snapshots__/card-list.test.tsx.snap
  app/routes/components/card-list/card-list.test.tsx
  app/routes/components/card-list/index.tsx
  app/routes/components/card/__snapshots__/card.test.tsx.snap
  app/routes/components/card/card.test.tsx
  app/routes/components/card/index.tsx
  app/routes/posts/components/__snapshots__/text-link.test.tsx.snap
  app/routes/posts/components/card-list/index.tsx
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: xo --fix, prettier --write

feat: fix test
  app/routes/components/card-list/card-list.test.tsx
  app/routes/components/card/card.test.tsx
Due: xo --fix

feature: build用のscript修正
  package.json
Due: prettier --write

feature: fix build commands
  package.json
Due: prettier --write

feat: トップページのスタイル調整
  app/root.tsx
  app/routes/_index.tsx
  app/routes/components/card/index.tsx
  app/routes/components/header/index.tsx
  public/bg.svg
  tailwind.config.ts
Due: xo --fix

feat: fix snapshot, cardのテキストカラー変更
  app/routes/components/card-list/__snapshots__/card-list.test.tsx.snap
  app/routes/components/card/__snapshots__/card.test.tsx.snap
  app/routes/components/card/index.tsx
  app/routes/components/header/__snapshots__/header.test.tsx.snap
Due: xo --fix

feat: 詳細ページのレイアウト作成
  app/root.tsx
  app/routes/__components/card-list/__snapshots__/card-list.test.tsx.snap
  app/routes/__components/card-list/card-list.test.tsx
  app/routes/__components/card-list/index.tsx
  app/routes/__components/card/__snapshots__/card.test.tsx.snap
  app/routes/__components/card/card.test.tsx
  app/routes/__components/card/index.tsx
  app/routes/__components/header/__snapshots__/header.test.tsx.snap
  app/routes/__components/header/header.test.tsx
  app/routes/__components/header/index.tsx
  app/routes/_index.tsx
  app/routes/posts.$postId.tsx
  app/types/posts.ts
  tailwind.config.ts
Due: xo --fix

feat: API疎通
  app/root.tsx
  app/routes/_index.tsx
  app/routes/posts.$postId.tsx
  package.json
  pnpm-lock.yaml
Due: xo --fix, prettier --write

feat: ヘッダーのロゴクリックでトップページに遷移するように修正
  app/routes/__components/header/__snapshots__/header.test.tsx.snap
  app/routes/__components/header/header.test.tsx
  app/routes/__components/header/index.tsx
Due: xo --fix

feat: dayjs追加
  app/routes/__components/card-list/__snapshots__/card-list.test.tsx.snap
  app/routes/__components/card/__snapshots__/card.test.tsx.snap
  app/routes/__components/card/card.test.tsx
  app/routes/__components/card/index.tsx
  app/routes/__components/time-text/index.tsx
  app/routes/posts.$postId.tsx
  package.json
  pnpm-lock.yaml
Due: xo --fix, prettier --write

feat: add unit test
  app/routes/__components/time-text/__snapshots__/time-text.test.tsx.snap
  app/routes/__components/time-text/index.tsx
  app/routes/__components/time-text/time-text.test.tsx
Due: xo --fix

feat: meta
  app/routes/__constants/meta.ts
  app/routes/_index.tsx
  app/routes/posts.$postId.tsx
  app/types/posts.ts
  public/favicon.ico
  public/ogp.png
Due: xo --fix

feature: add GA
  .vscode/settings.json
  app/root.tsx
  app/utils/gtags.client.ts
Due: xo --fix, prettier --write

feat: OGP画像修正
  public/ogp.png
Due: none

feat: 構造化データ追加
  app/routes/_index.tsx
  app/routes/posts.$postId.tsx
Due: xo --fix

fix: 不要なimportの削除
  app/routes/edge.tsx
  app/routes/posts.$postId.tsx
Due: xo --fix

feature: feature flagの設定追加
  __tests__/setup-test.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
Due: xo --fix, prettier --write

feature: react-routerに変更
  .gitignore
  app/root.tsx
  app/routes.ts
  app/routes/__components/card-list/card-list.test.tsx
  app/routes/__components/card/card.test.tsx
  app/routes/__components/card/index.tsx
  app/routes/__components/header/header.test.tsx
  app/routes/__components/header/index.tsx
  app/routes/_index.tsx
  app/routes/posts.$postId.tsx
  package.json
  pnpm-lock.yaml
  react-router.config.ts
  tsconfig.json
  vite.config.ts
Due: xo --fix, prettier --write

feature: vercelの設定を変更
  dev-server.js
  package.json
  pnpm-lock.yaml
  server/app.ts
  vercel/prepare.js
  vite.config.ts
Due: xo --fix, prettier --write

fix tsc
  app/routes/_index.tsx
  app/routes/posts.$postId.tsx
Due: xo --fix

fix: update snapshot
  app/routes/__components/card-list/__snapshots__/card-list.test.tsx.snap
  app/routes/__components/card/__snapshots__/card.test.tsx.snap
  app/routes/__components/header/__snapshots__/header.test.tsx.snap
Due: none

fix add setting files
  vercel/output/config.json
  vercel/output/functions/index.func/.vc-config.json
  vercel/output/functions/index.func/package.json
Due: prettier --write

feature: update React19
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: ogp.pngのconfig追加
  vercel/output/config.json
Due: prettier --write

add renovate settings
  package.json
  pnpm-lock.yaml
  renovate.json
Due: prettier --write

feat: update pnpm-lock
  pnpm-lock.yaml
Due: none

Path conditions:
  xo --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.json
